<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<style>
    .wrapper {
        margin: 10px;
    }
</style>
<body>
<div class="wrapper">
    <form action="#" th:action="@{/signin}" th:object="${personDto}" method="post">
        <p><b>Логин</b></p>
        <p><input type="text" th:field="*{login}"></p>
        <p><b>Пароль</b></p>
        <p><input type="password" th:field="*{password}"></p>
        <p><a href="">Регистрация</a></p>
        <p><button type="submit">Вход</button></p>
    </form>
</div>
</body>
</html>